@import 'variables';

$box-width: 284px;
$box-height: 224px;
$box-margin: 8px;
$icon-height: 80px;
$icon-width: 80px;
$icon-top: 24px;
$status-text-top: 42px;

.task-view-heading {
    font-size: 32px;
    color: $color-primary;
}

.task-view-subheading {
    font-size: 16px;
    font-variant: small-caps;
    color: $color-secondary;
}

.status-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.task-description {
    width: 100%;
    border: 1px solid $color-primary;
    padding: 16px;
    margin-bottom: 16px;
    margin-top: 16px;
}


@media (min-width: 990px) 
{
    .status-box{
        margin-left: 16px;
        margin-right: 16px;
    }
}