<h2 class = "task-view-heading"> {{ task.name }} </h2>
<div class= "task-view-subheading"> {{ getStatusText() }} </div>

<div class="status-container">
    <app-status-tile [(dateValue)]="task.dateDue" 
        [(tileName)]="dueByName"
        [(statusClass)]="dueByClass">
    </app-status-tile>
    <app-status-tile [(dateValue)]="task.scheduledDate" 
        [(tileName)]="scheduledName"
        [(statusClass)]="scheduledClass">
    </app-status-tile>
    <app-status-tile [(timeValueInMinutes)]="task.durationInMinutes" 
        [(tileName)]="durationName"
        [(statusClass)]="durationClass">
    </app-status-tile>
</div>

<p class="task-description"> {{ task.description }} </p>

<button class="btn btn-primary" type="button" (click)="startEdit()">Edit</button>
