<h2 class = "task-view-heading"> {{ task.name }} </h2>
<div class= "task-view-subheading"> {{ getStatusText() }} </div>

<div class="status-container">
    <div class="status-box">
        <div class="status-box-image due-by"></div>
        <div class="status-box-text">
            <div class="status-box-content">{{ task.dateDue  | date:'fullDate' }}</div>
            <div class="status-box-legend">Due by</div>
        </div>
    </div>
    <div class="status-box">
        <div class="status-box-image scheduled"></div>
        <div class="status-box-text">
            <div class="status-box-content">{{ task.scheduledDate  | date:'fullDate' }}</div>
            <div class="status-box-legend">Scheduled</div>
        </div>
    </div>      
    <div class="status-box">
        <div class="status-box-image duration"></div>
        <div class="status-box-text">
                <div class="status-box-content">{{ getDurationText() }}</div>
                <div class="status-box-legend">Duration</div>        
        </div>
    </div>      
</div>

<p class="task-description"> {{ task.description }} </p>

<button class="btn btn-primary" type="button" (click)="startEdit()">Edit</button>
