.error-message {
    color: red;
    cursor: pointer;
    display: inline-block;

    &:hover {
        background-color: #eee;
    }
}

.error-message--item {
    vertical-align: middle;
}

.error-message--content {
    height: 24px;
}