<div>
  <label>
    Name:
    <input [(ngModel)]="task.name" placeholder="name" />
  </label>
  <label>
    Completed:
    <input [(ngModel)]="task.completed" type="checkbox" />
  </label>
  <input name="dp" [(ngModel)]="task.dateDue" ngbDatepicker #d="ngbDatepicker">
      <div class="input-group-append">
        <button class="btn btn-outline-secondary" (click)="d.toggle()" type="button">
          Select
        </button>
    </div>
</div>
<pre>Model: {{ task.dateDue }}</pre>
<button (click)="save()"> Save </button>
<button (click)="logDateValue()"> Log </button>

