<div *ngIf="taskTypes">
  <mat-form-field>
      <mat-select placeholder="Select" [(value)]="selectedTaskType">
        <mat-option *ngFor="let taskType of taskTypes" [value]=taskType>
          {{ taskType.name }}
        </mat-option>
      </mat-select>    
  </mat-form-field>
  <button type="button" (click)="addTaskType()"> 
      <mat-icon>add</mat-icon>
  </button>
</div>

<div *ngIf="selectedTaskType">
  <app-task-type-detail [(taskType)]=selectedTaskType (saveEvent)=detailComponentSaved($event)>

  </app-task-type-detail>
</div>