@import 'variables.scss';

h3 {
    border: 1px solid $color-primary;
    padding: 8px;
    border-radius: 8px;
    cursor: pointer;
    background-color: $color-primary;
    color: $white;
}

.recurring-task-panel {
    padding-bottom: 16px;
}

.status-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.task-description {
    width: 100%;
    border: 1px solid $color-primary;
    padding: 16px;
    margin-bottom: 16px;
    margin-top: 16px;
}
