<mat-menu #appMenu="matMenu">
  <button mat-menu-item (click)="dashboardClick()">
    <mat-icon>dashboard </mat-icon>
    <span>Dashboard</span>
  </button>
  <button mat-menu-item (click)="listClick()">
    <mat-icon>build </mat-icon>
    <span>List all tasks</span>
  </button>
  <button mat-menu-item (click)="addClick()">
    <mat-icon>add_circle </mat-icon>
    <span>Add task</span>
  </button>
  <button mat-menu-item (click)="taskTypeClick()">
    <mat-icon>opacity </mat-icon>
    <span>Task types</span>
  </button>
  <button mat-menu-item (click)="scheduleClick()">
    <mat-icon>calendar_today </mat-icon>
    <span>Schedule</span>
  </button>
  <button mat-menu-item (click)="recurringTasksClick()">
    <mat-icon>repeat</mat-icon>
    <span>Recurring tasks</span>
  </button>
  <button mat-menu-item (click)="signOut()">
    <mat-icon>sentiment_dissatisfied </mat-icon>
    <span>Sign out</span>
  </button>
</mat-menu>

<button class="btn btn-primary" mat-icon-button [matMenuTriggerFor]="appMenu">
  <mat-icon>menu</mat-icon>
</button>