<form [formGroup]="form" (submit)="signIn()">
  <section>
  <mat-form-field>
    <mat-label>Username</mat-label>
    <input type="text" formControlName="username" matInput placeholder="Username">
  </mat-form-field>
</section>
<section>
  <mat-form-field>
    <mat-label>Password</mat-label>
    <input type="password" formControlName="password" matInput placeholder="Password">
  </mat-form-field>
</section>
  <section>
    <button type="submit" class="btn btn-primary">Sign in</button>
  </section>
  </form>
 
