<h2>List of tasks</h2>
<div>
  
</div>
<table>
  <tr>
    <th>Name</th>
    <th>Date due</th>
    <th>Completed?</th>
    <th>Edit link</th>
  </tr>
  <tr *ngFor="let task of tasks"
      [class.selected]="task === selectedTask"
      (click)="onSelect(task)">
    <td>{{task.name}}</td>
    <td>{{task.dateDue | date}} </td>
    <td>{{task.completed}}</td>
    <td><a routerLink="/task/{{task.id}}">Edit</a></td>
  </tr>
</table>
<div *ngIf="selectedTask">
  <app-task-summary [task]="selectedTask"></app-task-summary>
</div>

<!-- <div *ngIf="tasks">
  <mat-table [dataSource]=tasks>
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
</div> -->