<h2>List of tasks</h2>
<div *ngIf="tasks">
  <mat-table [dataSource]=tasks>
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let tasks; columns: displayedColumns;"></mat-row>
    <ng-container matColumnDef="name" >
      <mat-header-cell *matHeaderCellDef>Task name</mat-header-cell>
      <mat-cell *matCellDef="let task"> {{ task.name }}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="dateDue" >
      <mat-header-cell *matHeaderCellDef>Date due</mat-header-cell>
      <mat-cell *matCellDef="let task"> {{ task.dateDue | date:'fullDate'}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="completed" >
      <mat-header-cell *matHeaderCellDef>Completed</mat-header-cell>
      <mat-cell *matCellDef="let task"> {{ task.completed }}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="editLink" >
      <mat-header-cell *matHeaderCellDef>EditLink</mat-header-cell>
      <mat-cell *matCellDef="let task"> <a routerLink="/task/{{task.id}}">Edit</a></mat-cell>
    </ng-container>
</mat-table>
</div>